{% include "app1/home.html" %}
<div class="main" style="margin-top:40px;">
    <form method="POST" enctype="multipart/form-data" style="background-color: #fff; padding: 30px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
        {% csrf_token %}
        <h3 style="padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; background-color: #FFF4AE; border-color: #ffeeba; text-align: center;">
            Update product
        </h3>
        
        <input type="hidden" name="signed_product_id" value="{{ signed_product_id }}">
        
        <label for="productname" style="color: #555;">Product Name:</label>
        <input type="text" id="productname" name="productname" value="{{ product.p_name }}" required style="width: 100%; padding: 10px; margin: 10px 0 20px 0; border: 1px solid #ccc; border-radius: 5px;">
        
        <label for="picture" style="color: #555;">Picture (max 8 images):</label>
        <input type="file" id="picture" multiple name="pictures[]" accept="image/*" style="width: 100%; padding: 10px; margin: 10px 0 20px 0; border: 1px solid #ccc; border-radius: 5px;">
        
        <div>
            {% for image in product.images.all %}
                <div style="display: inline-block; position: relative; margin-right: 10px;">
                    <img src="{{ image.image.url }}" style="border-radius:50%;width: 100px; height: auto;" alt="Product Image">
                    <input type="checkbox" name="existing_images" value="{{ image.id }}" checked style="position: absolute; top: 5px; right: 5px;">
                </div>
            {% endfor %}
        </div>
        
        <label for="color" style="color: #555;">Color:</label>
        <input type="text" id="color" name="color" value="{{ product.color }}" required style="width: 100%; padding: 10px; margin: 10px 0 20px 0; border: 1px solid #ccc; border-radius: 5px;">
        
        <label for="price" style="color: #555;">Price:</label>
        <input type="text" id="price" name="price" value="{{ product.price }}" required style="width: 100%; padding: 10px; margin: 10px 0 20px 0; border: 1px solid #ccc; border-radius: 5px;">
        
        <label for="details" style="color: #555;">Small Details:</label>
        <textarea id="details" name="details" required style="width: 100%; padding: 10px; margin: 10px 0 20px 0; border: 1px solid #ccc; border-radius: 5px;">{{ product.detail }}</textarea>
        
        <input type="submit" value="Update" style="background-color: #5cb85c; color: white; padding: 10px; border: none; border-radius: 5px; cursor: pointer; width: 100%;">
    </form>
</div>
